<div class="form-container">
    <form [formGroup]="form" autocomplete="off">
        <div class="input-container">
          <input type="{{show?'text':'password'}}" placeholder="Enter Password" formControlName="password" id="password" class="input"
                 autocomplete="off">
          <img (click)="showPassword()" class="eye" src="{{show?'./assets/svg/eye-close.svg':'./assets/svg/eye-open.svg'}}" alt="">
        </div>
        <app-strength-checker [password]="form.value.password!" (strengthChange)="onPasswordStrengthChanged($event)"></app-strength-checker>
    </form>
</div>
